body, html {
    height: 100%;
    margin: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.bg, .bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
}
.bg {
    background-color: #226dbc;
    -webkit-clip-path: polygon(64% 68%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(64% 68%, 100% 0%, 100% 100%, 0% 100%);
    z-index: -3;
}
.bg2 {
    background-color: #0b4583;
    -webkit-clip-path: polygon(81% 66%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(81% 66%, 100% 0%, 100% 100%, 0% 100%);
    z-index: -2;
}
.container {
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-self: center;
    margin: 0 50px;
}
ul {
    list-style: none;
    perspective: 1000px;
}
ul li {
    display: grid;
    grid-template-columns: 20% auto;
    transform: rotateY(-30deg) rotateX(15deg); 
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,0.2);
    mix-blend-mode: multiply;
}
ul li:hover {
    transform: rotateY(-22deg) rotateX(10deg); 
    transition: transform 0.4s ease-in-out;
    z-index: 3;
    mix-blend-mode: normal;
}
ul li:nth-child(1){
    background: lightblue;
    z-index: 2;
    top: -150px;
}
ul li:nth-child(2){
    background: blue;
    z-index: 1;
}
ul li:nth-child(3){
    background: green;
    top: 150px;
}
/* @-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
#airplane2, #airplane1 {
  -webkit-transform-origin: 200px 200px;
  -webkit-animation: rotate-right 60s linear 0s infinite;
} */